.form {
  /* width: 962px;
  height: 490px;
  margin: 42px auto;*/
  position: absolute;
  top: 424px;
  left: 289px;

  width: 962px;
  height: 490px;

  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
}
.leftside-bkg {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;

  width: 550px;
  height: 450px;

  background: url("../assets/images/kisspng-dairy-cattle-miglioranza-s-r-l-calf-beef-cattle-dairy-cattle-5b0dce65346ed5-1\ 4.png") no-repeat center;
  background-size: cover;
}
.range-box {
  /*height: 76px;
  margin: 0 auto;
  padding: 10px;*/
  position: absolute;
  top: 5px;
  left: 10px;

  box-sizing: border-box;
  width: 944px;
  height: 76px;

  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
}
.range {
  position: relative;

  width: 884.13px;
  height: 10px;
  margin: 33px auto;

  background: #f4f4f4;
  border-radius: 999px;
  box-shadow: inset 0 10px 20px rgba(255, 255, 255, 0.16);
}
.left-dot {
  position: absolute;
  top: 28px;
  left: 30px;

  width: 20px;
  height: 20px;

  background: linear-gradient(0deg, #50b520, #50b520);
  border-radius: 999px;
  box-shadow: inset 0 10px 20px rgba(255, 255, 255, 0.16);
}
.middle-dot {
  position: absolute;
  top: 28px;
  left: 451px;

  box-sizing: border-box;
  width: 20px;
  height: 20px;

  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: 3px solid #f5f5f5;
  border-radius: 999px;
  box-shadow: inset 0 10px 20px rgba(255, 255, 255, 0.16);
}
.right-dot {
  position: absolute;
  top: 28px;
  left: 895px;

  box-sizing: border-box;
  width: 20px;
  height: 20px;

  background: linear-gradient(0deg, #ffffff, #ffffff);
  border: 3px solid #f5f5f5;
  border-radius: 999px;

/* buttom */
  box-shadow: inset 0 10px 20px rgba(255, 255, 255, 0.16);
}

.quiz {
  position: absolute;
  top: 90px;
  left: 8px;

  box-sizing: border-box;
  width: 944px;
  height: 388px;

  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
  h4 {
    position: absolute;
    top: 33px;
    left: 426px;

    width: 76px;
    height: 17px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: Gilroy;
    text-align: center;
    color: #000000;
    letter-spacing: 0.05em;
  }
  h2 {
    position: absolute;
    top: 65px;
    left: 332px;

    width: 256px;
    height: 58px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    font-family: Gilroy;
    text-align: center;
    color: #242424;
    span {
      font-weight: bold;
      color: green;
    }
  }
}
.first-quiz input {
  position: absolute;
  top: 180px;
  left: 350px;

  width: 210px;
  height: 61px;

  background: #f4f4f4;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.02);
}

.next-button {
  position: absolute;
  bottom: -27px;
  left: 390px;

  width: 146px;
  height: 54.86px;

  background: linear-gradient(98.61deg, #fbdb6a 5.19%, #ffeba3 49.97%, #fbdb6a 95.49%);
  border: none;
  border-radius: 52px;
  box-shadow: inset 0 0 26px rgba(255, 255, 255, 0.54);
}
